body {
    font-family: Arial;
    margin-bottom: 3rem;
}

label {
    cursor: pointer;
}

.main {
    padding-top: 6rem;
}

.add-form {
    margin-top: 3rem;
}

form h3 {
    margin-bottom: 2rem;
}

.table-text {
    width: 35%;
}

.table-createdat {
    width: 15%;
}